html {
  position: relative;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.container {
  padding: 60px 0 0 0;
}
